package supabase

import "fmt"

type ImageRef struct {
    // The repository of the image
    Repository string
    // The tag of the image
    Tag string
}

func (r ImageRef) String() string {
    return fmt.Sprintf("%s:%s", r.Repository, r.Tag)
}

var Images = struct{
{{- range $name, $image := .Images }}
    {{$name}} ImageRef
{{- end }}
}{
{{- range $name, $image := .Images }}
    {{$name}}: ImageRef{
        Repository: "{{$image.Repository}}",
        Tag: "{{$image.Tag}}",
    },
{{- end }}
}
